* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    width: 100vw;
    max-width: 800px;
    height: 100vh;
    max-height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    position: relative;
}

.app-container .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.app-container .slide-one {
    background-image: url(./images/joker.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.app-container .slide-two {
    background-image: url(./images/joker2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
}

footer p a {
    font-size: 2rem;
    color: #272727;
}
